/*-----------------------------------
1. Fuentes
-------------------------------------*/
@font-face {
    font-family: 'Lora';
    src: url(../assets/fonts/Lora/Lora-VariableFont_wght.ttf) format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf) format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

/*-----------------------------------
2. Variables
-------------------------------------*/
:root {
    /* Colores */
    --color-primary: #3D5A6C; /* títulos y navbar */
    --color-bg: #F7F6F2; /* para el fondo */
    --color-bg-alt: #ECEAE3; /* para secciones alternas */
    --color-text-muted: #6B7F8A; /* para descripciones secundarias */
    --color-text: #FFFFFF; /* texto principal */
    --color-text-inverse: #2C3E47; /* texto sobre fondos oscuros */
    --color-accent: #7FA4B3; /* botones y detalles */
    --color-border: #D5D3CB; /* separadores sutiles */

    /* Tipografías */
    --font-title: 'Lora', serif;
    --font-body: 'Satoshi', sans-serif;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 3rem;
    --text-2xl: 4.5rem;

    /* Espaciados */
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 4rem;
    --space-2xl: 8rem;

    /* Layouts */
    --navbar-height: 68px;
}

/*-----------------------------------
3. Reset y Base tipográfica
-------------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /*suaviza el renderizado de fuentes en macOS y mejora la legibilidad*/
}

img {
    max-width: 100%;
    display: block; /*elimina el espacio inferior que los navegadores agregan a las imágenes inline por defecto*/
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

/*-----------------------------------
4. Componentes reutilizables: botones, cards, badges.
-------------------------------------*/
.btn {
    display: inline-block;
    padding: var(--space-xxs) var(--space-md);
    background-color: transparent;
    color: var(--color-text);
    border: solid 2px var(--color-accent);
    border-radius: 2rem;
    font-size: var(--text-base);
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.btn:hover {
    color: var(--color-accent);
    text-decoration: underline;
}

/*-----------------------------------
6. Layout - Header
-------------------------------------*/
.header {
    background-image: url('../assets/img/hero.jpg');
    background-size: cover;
    background-position: center;

}

.header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

/*-----------------------------------
6. Layout - Navbar
-------------------------------------*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar__logo {
    color: var(--color-text);
    font-family: var(--font-title);
    font-size: var(--text-md);
    font-weight: 500;
    padding: var(--space-xs) var(--space-md);
}

.navbar__links {
    display: none; /*Ocultos en mobile*/
}

.navbar__cta {
    display: none;
}

.navbar__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm);
}

/*Desktop*/
@media(min-width: 1024px) {
    .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-md);
    }

    .navbar__links {
        display: flex;
        gap: var(--space-md);
        flex: 1; /* ocupa un tercio */
        justify-content: center;
        font-weight: 500;
    }

    .navbar__logo {
        flex: 1;
        text-align: center;
        padding: 0;
    }

    .navbar__cta {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .navbar__links a:hover {
        color: var(--color-accent);
        text-decoration: underline;
    }

    .navbar__toggle {
        display: none;
    }
}

.navbar__toggle img {
    width: 24px;
    height: 24px;
}

/*-----------------------------------
6. Layout - Hero
-------------------------------------*/
.hero {
    min-height: 100vh;
    padding-top: var(--navbar-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content {
    position: relative;
    z-index: 2; /* por encima del overlay */
    text-align: center;
    color: var(--color-text);
    padding: var(--space-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__title {
    font-family: var(--font-title);
    font-size: var(--text-xl);
    font-weight: 700;
    padding-top: var(--space-md);
}

.hero__desc {
    font-family: var(--font-body);
    font-size: var(--text-base);
    font-weight: 400;
    padding-bottom: var(--space-md);
}

.hero__link {
    font-family: var(--font-body);
    font-size: var(--text-base);
    font-weight: 600;
    display: inline-block;
    padding: var(--space-xs) var(--space-lg);
    background-color: var(--color-accent);
    color: var(--color-text);
    border-radius: 2rem;
}

.hero__logo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

@media(min-width: 1024px) {
    .hero__title {
        font-size: var(--text-2xl);
    }

    .hero__link {
        padding: var(--space-xxs) var(--space-md);
        background-color: transparent;
        border: solid 2px var(--color-accent);
        transition: background-color 0.3s ease;
    }

    .hero__link:hover {
        color: var(--color-accent);
        text-decoration: underline;
    }
}